.#{$prefix}--logo {
  box-shadow: inset 0 0 0 2px themes.get("layer-01");
  border-radius: $border-radius-round;
  font-weight: 500;
  overflow: hidden;

  &--small {
    height: $width-logo-small;
    width: $width-logo-small;
    min-width: $width-logo-small;
  }

  &--medium {
    height: $width-logo-medium;
    width: $width-logo-medium;
    min-width: $width-logo-medium;
  }

  &--large {
    height: $width-logo-large;
    width: $width-logo-large;
    min-width: $width-logo-large;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
