$prefix: 'bx';
$border-radius-round:  100vw !default;
$width-logo-large: 120px; // do we need small and medium too
$width-logo-medium: 80px;
$width-logo-small: 36px;
$border-base: 1px solid $background;
