.#{$prefix}--personfolio {
  background-color: themes.get("layer-01");
  color: themes.get("text-primary");
  border-radius: 6px;
  border-width: 1px 1px 1px 1px;
  border-style: solid !important;
  padding: themes.get("spacing-05");
  margin-top: themes.get("spacing-05");
  font-family: "Helvetica";

  &--child {
    border-color: themes.get("support-error");
  }

  &--youngadult {
    border-color: themes.get("support-success");
  }

  &--adult {
    border-color: themes.get("support-warning");
  }

  &--senior {
    border-color: themes.get("support-info");
  }
}
